<div ng-if='!cartItems'>
  <h2>You don't have any items in your cart yet! <a href="/allForSale">Take a look at what there is for sale!</a></h2>
</div>
<div ng-if='cartItems' class="row text-center">
  <content ng-repeat='item in cartItems track by $index'>
    <div class="col-xs-2">
      <h2><a ng-href="/items/{{item._id}}">{{item.name}}</a></h2>
      <p>{{item.price}}</p>
      <img class="searchItemImg" ng-src="{{item.photo}}">
      <div class="row">
        <button class="btn btn-danger" ng-click='deleteItem(item.id)'>X</button>
      </div>
    </div>
  </content>
</div>