<div>
  <form action="/boardgames" method="POST">
    <p>
      Name:
    </p>
    <p>
      <input type="text" name="name" />
    </p>
    <p>
      Description:
    </p>
    <p>
      <textarea name="description"></textarea>
    </p>
    <p>
      <button type="submit">Create</button>
    </p>
  </form>
</div>
