<div>
  <h1><%= game.name %></h1>
  <p><%= game.description %></p>
  <p>
    <a href="/boardgames/<%= game.id %>/edit">edit</a>
    <a class="delete-link" href="/boardgames/<%= game.id %>">delete</a>
  </p>
</div>
